@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: hsl(225, 100%, 94%);
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 697px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0px 22px 20px #D9D6FA;
}

.image-thumbnail {
    background-image: url('../images/illustration-hero.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 450px;
    height: 220px;
    border-radius: 14px 14px 0px 0px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 48px 48px 46px;
}

.content .heading-text {
    font-size: 28px;
    font-weight: 900;
}

.content .description {
    color: hsla(232, 12%, 54%, 1);
    ;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
}

.item-plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin: 20px 0px 30px 0px;
    padding: 0px 24px 0px 24px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 14px;
}

.plan-icon {
    background-image: url('../images/icon-music.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.icon-and-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.subheading-text, .price-plan, .button-change {
    font-weight: 900;
}

.price-plan {
    color: hsla(232, 12%, 54%, 1);
}

.button-change {
    color: hsla(245, 44%, 45%, 1);
    text-decoration: underline;
}

.button-change:hover {
    cursor: pointer;
    opacity: 0.7;
    text-decoration: none;
}

.button-proceed {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 22px 20px #D9D6FA;
    font-weight: 700;
}

.button-proceed:hover {
    cursor: pointer;
    opacity: 0.7;
}

.button-cancel {
    margin-top: 28px;
    font-weight: 900;
    color: hsla(232, 12%, 54%, 1);
}

.button-cancel:hover {
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}

@media (max-width: 375px) {

    body {
        background-image: url('../images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .card-summary {
        width: 327px;
        height: 567px;
    }

    .image-thumbnail {
        background-image: url('../images/illustration-hero.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 327px;
        height: 160px;
    }

    .content {
        padding: 32px 26px 34px 26px;
    }

    .content .heading-text {
        font-size: 22px;
    }

    .content .description {
        color: hsla(232, 12%, 54%, 1);
        ;
        font-size: 16px;
        line-height: 24px;
    }

    .item-plan {
        height: 80px;
        margin: 24px 0px 24px 0px;
        padding: 0px 16px 0px 16px;
    }

    .plan-icon {
        background-image: url('../images/icon-music.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 48px;
        height: 48px;
        margin-right: 16px;
    }

    .icon-and-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
    }

    .subheading-text, .price-plan, .button-change {
        font-size: 14px;
        font-weight: 900;
    }

    .price-plan {
        color: hsla(232, 12%, 54%, 1);
    }

    .button-change {
        color: hsla(245, 44%, 45%, 1);
        text-decoration: underline;
    }

    .button-proceed {
        font-size: 14px;
        height: 50px;
    }

    .button-cancel {
        margin-top: 20px;
        font-weight: 900;
        font-size: 14px;
        color: hsla(232, 12%, 54%, 1);
    }
}