@import url('https://fonts.googleapis.com/css2?family=Outfit');

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nft-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0px 25px 5px 15px #0C1628;
    
}

.image-thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}



.price-time {
    display: flex;
    justify-content: space-between;
}

.price {
    display: flex;
    align-items: center;
}

.price-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    color: hsl(178, 100%, 50%);
    }

.price-icon img {
    width: auto;
    height: 17px;
}

p.price-text {
    padding-left: 2px;
}

.time {
    display: flex;
    align-items: center;
}

.time-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    }

p.time-text {
        font-size: 14px;
        padding-left: 2px;
    }

.card-content p {
    line-height: 24px;
    }

.card-content h1 {
    padding: 10px 0px 10px 0px;
    
}

.card-desc, .time-text {
    color: hsl(215, 51%, 70%);
    letter-spacing: 1px;
}

p.card-desc {
    font-weight: 200;
    font-size: 16px;
}

hr {
    height: 1px;
    border: none;
    background-color: hsl(215, 32%, 27%);
}

h1 {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

h1:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.author {
    display: flex;
    align-items: center;
}

.avatar img {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 100%;
}

.author-text {
    color: hsl(215, 51%, 70%);
    letter-spacing: 1px;
    font-size: 14px;
    padding-left: 14px;
}

.author-text span {
    color: white;
}

.author-text span:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%)
}

p.price-text {
    font-size: 16px;
    font-weight: 400;
    color: hsl(178, 100%, 50%);
    letter-spacing: 1px;
}

@media only screen and (min-width: 375px) {
        
}