@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    [x-cloak] {
        display: none
    }
    body {
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }
    /* .country-flag {
        display: flex;
        align-items: center;
        font-family: "Twemoji";
        font-size: 24px;
    } */
    /* select:before {
        content: ' ';
        font-family: "Twemoji";
        font-size: 24px;
    } */
    /* .country-flag-2 {
        content: ' ';
        display: flex;
        align-items: center;
        font-family: "Twemoji";
        font-size: 24px;
    } */
    /* .country-flag {
        font-size: 16px;
    } */
    html {
        -webkit-tap-highlight-color: transparent;
    }
    input[type=range]::-webkit-slider-thumb {
        height: 3px;
        width: 16px;
        border-radius: 13px;
        background: #303030;
        cursor: pointer;
        -webkit-appearance: none;
        pointer-events: none;
    }
}

@font-face {
    font-family: "Twemoji";
    src: url("./fonts/twemoji.woff2") format("woff2");
    size-adjust: 120%;
}